.App {
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#result{
  width: 225px;
  height: 25px;
  margin-left:2px;
}

.keypad-container {
  width: 250px;
  border: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.input-field {
  width: 90%;
  border: 1px solid #ccc;
  height: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.key-container {
  width: 230px;
  display: inline-block;
}

.key {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #27AE60;
  color: #fff;

}
.key:hover {
  background-color: #6bc792;
}
.digits {
  margin-top: 8px;
  font-weight: bold;
  font-size: 20px;
}
.clear {
  clear: both;
}